repos:
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.24.2
    hooks:
      - id: gitleaks
  - repo: https://github.com/bridgecrewio/checkov.git
    rev: 3.2.484
    hooks:
      - id: checkov
        args: [--directory, infrastructure, --framework, terraform]
